<form action="">
  <div #div>
    <button type="button" (click)="onClick()">remove</button>
    <input type="text" name="name" id="name" />
    <label for="name">name</label>
  </div>
  <div #div>
    <button type="button" (click)="onClick()">remove</button>
    <input type="text" name="age" id="age" /> <label for="age">age</label>
  </div>
  <div #div>
    <button type="button" (click)="onClick()">remove</button>
    <input type="email" name="email" id="email" />
    <label for="email">email</label>
  </div>
  <div #div>
    <button type="button" (click)="onClick()">remove</button>
    <input type="text" name="address" id="address" />
    <label for="address">address</label>
  </div>
</form>
