<!-- <div [style.backgroundColor]="bgClrs">
  <app-theme-switch [(divBg)]="bgClrs"></app-theme-switch>
  <div class="cards">
    <app-card
      [bgClr]="wife.bgClr"
      [src]="wife.src"
      [name]="wife.name"
      [spouse]="wife.spouse"
    ></app-card>
    <app-card
      [style.color]="'white'"
      [bgClr]="husband.bgClr"
      [src]="husband.src"
      [name]="husband.name"
      [spouse]="husband.spouse"
    ></app-card>
  </div>
  <app-theme-switch (clrChange)="onClick($event)"></app-theme-switch>
</div> -->
<app-form></app-form>